
$image_gradient_color: rgb(232, 246, 248);
$portfolioPreviewBoxColor: rgba(94, 73, 194, 0.1);

//.frontContainer{
//  width: 100vw;
//  //height: 100vh;
//  overflow: hidden;
//
//  @media screen and (max-aspect-ratio: 17/10){
//    .frontContainer{
//      width: 100vw;
//      height: auto;
//
//    }
//  }
//
//  .imgBgContainer{
//    //background-color: #b7b5b5;
//    .imgBg{
//      z-index: -1;
//      position: absolute;
//      width: 100vw;
//      //transition: all 0.3s ease-in-out!important;
//
//    }
//  }
//  .gradientBg{
//    position: absolute;
//    height: 100%;
//    width: 100%;
//    //background-color: $image_gradient_color;
//    background: $image_gradient_color;
//    background: linear-gradient(0deg, $image_gradient_color 0%, rgba(255,255,255,0) 100%);
//  }
//}


.bgBlueWhite{
  background-color: $image_gradient_color;
}
.defaultFont{
  font-family: Georgia;
  color: rgba(0,0,0,0.8);

  *p{
    font-size: 1rem;
  }
}

.mainSectionContainer {
  position: relative;
  align-content: center;
  width: 100vw;
  top: 0;
  left: 0;
  margin: auto;
  padding: 1rem;

  .topSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: inherit;


    .twoCol{
      max-width: 49vw;
      //transition: all 0.3s ease-in-out!important;
      img{
        width: 100%;
      }
    }
  }

  .secondSectionContainer{
    max-width: 100vw;
    background-color: $image_gradient_color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    cursor: pointer;

    .projectPreContainer{
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 1rem;
      margin-bottom: 1rem;
      min-width: 430px;
      max-width: 500px;
      width: 95vw;
      height: 300px;
      background-color: $portfolioPreviewBoxColor;
      transition: all 0.3s ease-in-out!important;

      p{
        margin-bottom: 1rem;
        text-align: left;
      }


      &:hover{
        position: relative;
        box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
        transform: translateX(-2px) translateY(-2px);
      }
    }


  }

}

.secondSectionContainer{
  background-color: $image_gradient_color;
}


@media screen and (max-width: 760px){
  .mainSectionContainer .topSection .twoCol{
    max-width: 100vw;
    text-align: center;
  }
}