
//$image_gradient_color: rgb(232, 246, 248);
$image_gradient_color: rgb(255, 255, 255);

$portfolioPreviewBoxColor: rgba(94, 73, 194, 0.1);

.bgBlueWhite{
  background-image: url("/media/webpages/portfolio/bg_yuhan.jpg");
  background-repeat: repeat;
  //background-color: $image_gradient_color;
}
.defaultFont{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,0.8);

  *p{
    font-size: 1rem;
  }
}

.container{
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  z-index: 0;
  padding: 0 1rem;
  background-image: url("/media/webpages/portfolio/bg_yuhan.jpg");
  background-repeat: repeat-y;
}
.mainSectionContainer {
  position: relative;
  align-content: center;
  padding-top: 6rem;
  width: 100%;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  //padding: 1rem;

  .topSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: inherit;

    .twoCol{
      padding: 0 2rem;
      max-width: 49%;
      transition: all 0.1s ease-in-out!important;
      img{
        width: 100%;
      }
    }
  }

  .secondSectionContainer{
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    //padding-top: 6rem;

    .experience-container{
      margin:0 auto 4rem auto;
      width: 95%;
      display: flex;
      flex-wrap: wrap;

      div{
        min-width: 300px;
        max-width: 1100px;
      }
    }

    .projectPreContainer{
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 1rem;
      margin-bottom: 2rem;
      min-width: 430px;
      max-width: 500px;
      width: 95vw;
      background-color: $portfolioPreviewBoxColor;
      transition: all 0.3s ease-in-out!important;
      cursor: pointer;

      .previewImageContainer{
        height: 71px;
        overflow: hidden;
        .previewImage{
          max-height: 70px;
          margin-right: 0.5rem;
          border-radius: 5px;
        }
      }


      p{
        margin-bottom: 1rem;
        text-align: left;
      }

      &:hover{
        position: relative;
        box-shadow: 5px 10px rgba(96, 96, 96, 0.15);
        transform: translateX(-2px) translateY(-2px);
      }
    }
  }
}


@media screen and (max-width: 990px){
  .mainSectionContainer .topSection .twoCol{
    max-width: 100%;
    text-align: center;
  }
  .mainSectionContainer .secondSectionContainer .projectPreContainer {
      max-width: 100%;
    }
}

.indicator {
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  border: 1px #666 solid
}

.indicator.active {
  color: #fff;
  background: #666;
}

