*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
//$image_gradient_color: rgb(232, 246, 248);
$image_gradient_color: rgb(255, 255, 255);

$portfolioPreviewBoxColor: rgba(255, 239, 166, 0.8);
$navFooterHoverColor: rgba(255, 240, 165, 0.92);

$font:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;

.bgBlueWhite{
  //background-image: url("/media/webpages/portfolio/bg_yuhan.jpg");
  background-repeat: repeat;
  //background-color: $image_gradient_color;
}
.defaultFont{
  font-family: $font;
  color: rgba(0,0,0,0.8);

  *p{
    font-size: 1rem;
  }
}

.container{
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  z-index: 0;
  padding: 0 1rem;
  background-repeat: repeat-y;
  box-sizing: border-box;
}
.mainSectionContainer {
  position: relative;
  align-content: center;
  padding-top: 6rem;
  width: 100%;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  //padding: 1rem;

  .topSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: inherit;

    .twoCol{
      padding: 0 1rem;
      max-width: 49%;
      transition: all 0.1s ease-in-out!important;
      img{
        width: 100%;
      }
    }
  }

  .secondSectionContainer{
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    //padding-top: 6rem;

    .experience-container{
      margin:0 auto 4rem auto;
      width: 95%;
      display: flex;
      flex-wrap: wrap;

      div{
        min-width: 350px;
        max-width: 1100px;
      }
    }

    .projectPreContainer{
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 1rem;
      margin-bottom: 2rem;
      margin-left: 1px;
      margin-right: 1px;
      min-width: 350px;
      max-width: 500px;
      width: 90vw;
      background-color: $portfolioPreviewBoxColor;
      transition: all 0.3s ease-in-out!important;
      cursor: pointer;

      .previewImageContainer{
        height: 71px;
        overflow: hidden;
        .previewImage{
          max-height: 70px;
          margin-right: 0.5rem;
          border-radius: 5px;
        }
      }


      p{
        margin-bottom: 1rem;
        text-align: justify-all;
      }

      .previewText{
        min-height: 6rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;

      }

      &:hover{
        position: relative;
        box-shadow: 5px 10px rgba(96, 96, 96, 0.15);
        transform: translateX(-2px) translateY(-10px);
      }
    }
  }
}

@media screen and (max-width: 1530px){
  .mainSectionContainer .secondSectionContainer .experience-container div{
    max-width: 1600px;
  }
  .mainSectionContainer .secondSectionContainer .projectPreContainer {
    max-width: 45vw;
  }
}

@media screen and (max-width: 1030px){
  .mainSectionContainer .topSection .twoCol{
    max-width: 100%;
    text-align: center;
  }
  .mainSectionContainer .secondSectionContainer .projectPreContainer {
      max-width: 100%;
    }
}

.indicator {
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  border: 1px #666 solid
}

.indicator.active {
  color: #fff;
  background: #666;
}

.navbar{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  padding-bottom: 10px;
  background-color: rgba(251, 250, 250, 1);


  .topnav {
    max-width: 100%;
    margin: 25px auto 0 auto;


    .nav-logo{
      //margin-top: 5px;
      width: 50px;
      background-color: rgba(204, 204, 204, 0.85);
      //border-radius: 50%;
      transition: all 0.3s ease-in-out;

      &:hover{
        transform: scale(1.1);
      }
    }
    .topnav-right {
      max-width: max-content;
      margin: auto;
      a {
        //background-color: rgba(251, 250, 250, 0.97);
        color: rgb(0, 0, 0, 0.7);
        text-align: center;
        text-decoration: none;
        font-size: 1.1rem;
        //font-weight: bold;
        padding: 25px 10px 10px 10px;
        transition: all 0.4s ease-in-out;

        &:first-child {
          //border-bottom-left-radius: 10px;
        }
        &:last-child {
          //border-bottom-right-radius: 10px;
        }
        &:hover {
          background-color: $navFooterHoverColor;
          color: rgb(0, 0, 0);
        }
        .active {
          background-color: #4CAF50;
          color: #000000;
        }
      }
    }
  }
}

@media screen and (min-width: 1030px) {
  .navbar .topnav .topnav-right{
    float: right;
    margin: 0 1rem;
  }
}

.footer {
  left: 0;
  bottom: 0;
  position: relative;
  width: 100vw;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  margin: auto;

  .footer-container{
    width: 100%;
    max-width: 1500px;
    background-color: rgba(96, 56, 218, 0.14);
    margin: auto;
    .footer-max{
      margin: auto;
      width: max-content;
      float: right;
      padding: 0 2rem;

    }
  }
  a {
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1rem;
    &:hover {
      background-color: $navFooterHoverColor;
      color: rgba(0, 0, 0, 1);
    }
  }
}