$buttonColor: rgb(3, 59, 139);
$textColor: rgb(255, 255, 255);
$font:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
.marginBelow1{
  margin-bottom: 1rem;
}
.marginBelow2{
  margin-bottom: 2rem;
}
.marginBelow4{
  margin-bottom: 4rem;
}

.paddingTop4{
  padding-top: 4rem;
}
.paddingTop5{
  padding-top: 5rem;
}
.fullWidth{
  width: 100%;
}
.flexBottom{
  align-self: flex-end;
}

.leftrightMargin{
 margin-left: 1vw;
  margin-right: 1vw;
}

.mainTitleStyle{
  margin-left: 2rem;
}

.subHeadingStyle{
  margin-left: 1.5rem;
}


.mainSubTitleStyle{
  margin-left: 2rem;
}

.mainTextStyle{
  margin-left: 2rem;
  margin-top: 1rem;;
  color: rgba(0, 0, 0, 0.76);
}

.mainDateStyle{
  margin-left: 2rem;
}

.longText{
  white-space: pre-wrap;
}

.active{
  visibility: visible;
}
.notActive{
  visibility: hidden;
}
.button {
  border-radius: 4px;
  background-color: $buttonColor;
  border: none;
  color: $textColor;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 10px;
  //width: px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px 5px 5px 0;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}






.form-row{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px){
  .form-body .half-form{
    width: 100%;
  }
  .submit-button .button{
    width: 100%;
  }

}

@media screen and (max-width: 1030px) {
  .subHeadingStyle {
    margin-left: 0;
    text-align: center;
  }
}

.half-form{
  width: 49%;
  margin: 1rem 0;
  /*background-color: black;*/
}
.full-form{
  width: 100%;
  margin: 1rem 0;
}
.form-control{
  font-family: $font;
  width: 100%;
  height: 3rem;
  border: 2px groove;
  border-radius: 10px;
  padding: 1rem;
  font-size: 0.8rem;
}
.form-body{
  /*background-color: #8bc540;*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 0;

}
.full-form textarea{
  height: 8rem;
}
.submit-button{
  text-align: right;
}

.note-content
{
  width: 100%;
  padding: 0 2rem;
  margin: auto;
  img, iframe {
    max-width: 100%;
    height: auto !important;
  }
}